@import url('https://fonts.googleapis.com/css?family=Montserrat|Nothing+You+Could+Do')

  .text p {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

p:first-child {
  font-family: "Nothing You Could Do", cursive;
  font-size: 18px;
  padding: 15px;
}

img {
  max-width: 100%;
}
