.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 28px;
}

.ui.table thead tr:first-child>th:only-child {
    border-radius: none;
    font-family: "Nothing You Could Do", cursive;
    font-size: 24px;
    height: 50px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto!important;
    margin-left: 0px !important; 
    margin-right: 0px !important; 
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
